@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  font-family: "Mulish", sans-serif;
}

.container{
  width: 90%;
  margin: 3rem auto;
  border-radius: 1rem;
}

h3{
  font-size: 2.25rem;
  text-align: center;
  font-weight: 800;
  line-height: normal;
}

p , li{
  font-size: 1.1rem;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

span{
color: #FF5400;
}


.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo{
  display: flex;
  align-items: center;
  width: 280px;
}

.logo img{
  width: 48px;
  margin-right: 0.5rem;
}

.nav-options{
display: flex;
justify-content: space-evenly;
gap: 3rem;
}

.nav-options{
  cursor: pointer;
}


/*Banner*/

.Explore-travel{
  background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.8) 0% , rgba(19, 19, 24, 0) 100%),
  url(../Images/background.png);
  padding: 7rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center ;
  flex-direction: column;
}

.Explore-travel h3{
  color: white;
  font-size: 4rem;
  font-weight: 800;
}
.Explore-travel p{
  color: white;
  line-height: 26px;
  padding: 1.5rem;
  margin: auto;
}

.travels-input{
  margin-top: 2rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.2);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  backdrop-filter: blur(4px) ;
}

input , select {
  width: 176px;
  height: 50px;
  padding: 0 0.5rem;
  margin: 0 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.btn-primary{
  width: 175px;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0.7rem 2rem;
  background-color: #FF5400;
  border: 1px solid #FF5400;
  border-radius: 8px;
  color: white;
  font-size: 1rem;
  font-weight: 700;
}

.popular-section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
.your-destination  h3{
  padding: 1rem 0;
}
.text-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1rem;
}

.text-content p , .text-content li, .text-content h3{
  text-align: left;
}

.text-content p , .text-content li {
  font-size: 1rem;
  line-height: 2rem;
  word-spacing: 0.015rem;
  letter-spacing: 1px;
}


.row-1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem 0;
  gap: 1rem;
}

.country-card{
  position: relative;
}
.country-card img{
  width: 100%;
  height: 300px;
  filter: brightness(70%);
}
.country{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  font-size: 1.5rem;
}

.row-2{
  display: grid;
  grid-template-columns: 0.75fr 1fr 0.50fr;
  margin: 1rem 0;
  gap: 1rem;
}

.row-3{
  display: grid;
  grid-template-columns: 2fr 3fr;
  margin: 1rem 0;
  gap: 1rem;
}

footer{
  background: rgba(19, 19, 24, 0.05);
  padding: 2rem 0;
  display: flex;
  justify-content: center;
}
footer .logo{
  margin: 1rem auto;
}
footer p{
  width: 600px;
  margin: 0 auto;
}

.social{
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto;
}

.social i{
  font-size: 2rem;
}
hr{
  margin: 2rem;
}
.ham-bar{
  display: none;
}
@media screen and (max-width:576px){
  .nav-options{
    display: none;
  }
  .ham-bar{
    display: block;
  }
  .navbar h3{
    font-size: 2.5rem;
  }
  .navbar i{
    font-size: 2rem;
  }

  .container{
    margin: 3rem auto;
  }
  p{
    font-size: 1.2rem;
  }
  .Explore-travel{
    margin: 1.5rem .5rem;
  }
  .Explore-travel p{
    padding: 0.5rem;
    margin: 0;
    width: 80%;
  }
  .travels-input{
    flex-direction: column;
    width: 70%;
    margin: auto;
  }
  .travels-input input, .travels-input select , .travels-input button {
    width: 100%;
    margin: 1rem 0;
  }

  .popular-section , .row-1 , .row-2 , .row-3 {
    grid-template-columns: repeat(1, 1fr);
  } 
  .popular-section img{
    width: 100%;
    height: 100%;
  }

  footer p{
  width: 90%;
  margin: 0 auto;
}

}

